@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

article {
  width: 100%;
  justify-content: center;
  align-content: center;
}

.container, article, .buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  flex-direction: column;
  max-width: 500px;
}

.logo {
  display: flex;
  justify-content: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}


.buttons button:last-child {
  margin-left: 15px;
}


::ng-deep .mat-form-field-underline {
  display: none;
}

.label {
  font-family: 'Roboto', sans-serif;
}

input {
  border: 1px solid #C7C7C7;
  border-radius: 35px;
  padding: 10px 8%;
  width: 90%;
}
