<article>
  <div class="container">
    <h3 class="logo">
        Chatby
    </h3>

    <form [formGroup]="loginForm">
      <div>
        <div class="label">
          Username
        </div>
        <mat-form-field>
          <input
            type="text"
            formControlName="username"
            minlength="5"
            matInput required>
        </mat-form-field>
      </div>

      <div>
          <div class="label">
              Password
            </div>
        <mat-form-field>
          <input
            type="password"
            formControlName="password"
            minlength="5"
            matInput required>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button
          color="primary"
          (click)="login()"
          [disabled]="!loginForm.valid"
          mat-stroked-button>
          Login
        </button>
        <button
          color="primary"
          (click)="register()"
          [disabled]="!loginForm.valid"
          mat-stroked-button>
          Register
        </button>
      </div>
    </form>
  </div>
</article>
