<section>
  <div class="container">
    <div class="top">
      <h3>
        Chatby
      </h3>

      <button
        (click)="logOff()"
        mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Logout">
              power_settings_new</mat-icon>
      </button>

    </div>
    <div id="messageBox">
      <div *ngFor="let message of messages" [ngClass]="message.user == username ? 'me' : 'other'">
        <div class="messageContent">
            <span class="user">{{ message.user }}</span>
            <span class="message">

                  {{ message.message }}

            </span>
        </div>

      </div>
    </div>

    <div class="input">
      <mat-form-field>
        <input
          class="user-input"
          type="text"
          [formControl]="message"
          minlength="5"
          maxlength="100"
          matInput required>
      </mat-form-field>
      <button
        class="submit-button"
        [disabled]="!message.valid"
        (click)="sendMessage()"
        mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Send Message">arrow_upward</mat-icon>

      </button>
    </div>
  </div>

</section>
